@import url(reset.css);

html, body {
	background: #ccc;
}

.nav{
	width: 512px;
	height: 47px;
	display:inline;
	top: 60px;
	left: 370px;
	text-transform: uppercase;
	
}
ul {
  list-style: none; 
  margin: 20px; 
  padding-left: 10; 
}
a {
  text-decoration: none; 
}
li {
  float:left; 
  margin-right:15px; 
}

.wrapper{
	max-width: 800px;
	margin:0 auto;
}

h1, .h1{
	font-size: 1.5em;
	width: 50%;
	margin:20px auto;
	text-align: center;
}
.logo{
	
}

@media screen and (max-width: 600px){
	
	img { width: 100%;}
}

